h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 40px;
  display: inline-block;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
  position: relative;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

h1:before {
  content: '';
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#0575E6), to(#00F260));
  background: linear-gradient(to right, #0575E6, #00F260);
  mix-blend-mode: screen;
  position: absolute;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 6fr 1fr;
      grid-template-columns: 5fr 6fr 1fr;
}

.fondoBlanco {
  background-color: #fff;
}

.ColorText {
  color: #0575E6 !important;
}

.imgBackIndex {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../imagen/pcbfondo2.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagen/pcbfondo2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 150px;
  background-color: rgba(0, 0, 0, 0.6);
}

.imgBackNosotros {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../imagen/pcbfondo4.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagen/pcbfondo4.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 150px;
  background-color: rgba(0, 0, 0, 0.6);
}

.imgBackServicios {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../imagen/pcbfondo3.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagen/pcbfondo3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 150px;
  background-color: rgba(0, 0, 0, 0.6);
}

.imgBackContacto {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../imagen/contacto.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagen/contacto.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 150px;
  background-color: rgba(0, 0, 0, 0.6);
}

a {
  font-family: "Poppins", sans-serif;
}

.heroInicio {
  height: 650px;
  padding-top: 200px;
  padding-bottom: 100px;
}

.heroInicio h3 {
  color: #fff;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.heroInicio h2 {
  color: #fff;
  font-size: 48px;
  font-family: "Poppins", sans-serif;
}

.contactoBoton {
  background: #0575E6;
  font-family: "Raleway", sans-serif;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  -webkit-transition: all 2s;
  transition: all 2s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.contactoBotonHero {
  background-color: rgba(163, 174, 238, 0.5);
  border: solid 2px #0575E6;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.contactoBoton:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #0575E6), to(#00F260));
  background: linear-gradient(to right, #0575E6 40%, #00F260);
  color: #fff;
}

.contactoBotonHero:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #0575E6), to(#00F260));
  background: linear-gradient(to right, #0575E6 40%, #00F260);
  color: #fff;
}

.tituloPrincipal {
  padding-top: 160px;
}

.tituloPrincipal h2 {
  color: #fff;
  font-size: 55px;
  font-family: "Poppins", sans-serif;
}

.tituloPrincipal h4 {
  color: #fff;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.tituloPrincipal h3 {
  color: #fff;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}

/*.tituloPrincipal:before{
  content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}*/
.tituloMain {
  margin-bottom: 60px;
  margin-top: 60px;
}

.tituloMain h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.tituloMain h3 {
  letter-spacing: 2px;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.tituloMain h2::after {
  content: "";
  width: 120px;
  height: 2px;
  display: inline-block;
  background: #0575E6;
  margin: 4px 10px;
}

.marketingArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.marketingArea h3 {
  border-radius: 5px;
  background-color: #f0f0f0;
  text-align: center;
  height: 70px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}

.marketingArea h4 {
  text-align: center;
  margin-bottom: 10px;
  font-family: "IBM Plex Sans", sans-serif;
}

.marketingArea p {
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 10px;
  display: inline-block;
  line-height: 1.6;
  text-align: center;
  height: 150px;
}

.iconBox {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
}

.iconBox:hover {
  border-color: #00F260;
  color: #00F260;
}

.iconContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Raleway", sans-serif;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 20px;
}

footer {
  background-color: #252525;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 30px;
  padding-top: 30px;
}

footer h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

footer p {
  font-size: 15px;
}

footer a {
  color: #0575E6;
}

footer .listSecciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.biggerBlock {
  background-color: #0575E6;
  border: solid #0575E6 3px;
  border-radius: 5px;
}

.smallerBlock {
  border: solid #f0f0f0 3px;
  border-radius: 5px;
}

.conocenosArea, .conocenosAreaBlue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: justify;
}

.conocenosArea h3, .conocenosAreaBlue h3 {
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}

.conocenosArea p, .conocenosAreaBlue p {
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 10px;
  margin: 10px;
  line-height: 1.6;
}

.conocenosArea .textoInicioCentrado, .conocenosAreaBlue .textoInicioCentrado {
  text-align: center;
}

.conocenosAreaBlue h3 {
  color: #fff;
}

.conocenosAreaBlue p {
  color: #fff;
}

.iconElec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway", sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
}

.iconElec p {
  font-size: 23px;
  text-align: justify;
}

.teamArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid #f0f0f0 1px;
  border-radius: 5px;
}

.teamArea h4 {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 20px;
}

.teamArea p {
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 10px;
  display: inline-block;
  line-height: 1.6;
  text-align: center;
}

.teamArea .in {
  height: 30px;
  width: 40px;
}

#hardwareArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid #f0f0f0 3px;
  margin: 80px;
  padding: 0px;
}

#hardwareArea h3 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: bold;
  border: solid #f0f0f0 3px;
  background-color: #f0f0f0;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  text-align: center;
}

#hardwareArea img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 600px;
  margin-bottom: 15px;
}

#hardwareArea p {
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.6;
  text-align: justify;
  padding: 70px;
}

#firmwareArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid #f0f0f0 3px;
  margin: 80px;
  padding: 0px;
}

#firmwareArea h3 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: bold;
  border: solid #f0f0f0 3px;
  background-color: #f0f0f0;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  text-align: center;
}

#firmwareArea img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 600px;
  margin-bottom: 15px;
}

#firmwareArea p {
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.6;
  text-align: justify;
  padding: 70px;
}

#webArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid #f0f0f0 3px;
  margin: 80px;
  padding: 0px;
}

#webArea h3 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: bold;
  border: solid #f0f0f0 3px;
  background-color: #f0f0f0;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  text-align: center;
}

#webArea img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 600px;
  margin-bottom: 15px;
}

#webArea p {
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.6;
  text-align: justify;
  padding: 70px;
}

.boxTestimonios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
}

.boxTestimonios h3 {
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 25px;
}

.boxTestimonios h4 {
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
}

.boxTestimonios p {
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.6;
  font-size: 15px;
  overflow: auto;
}

.blog .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;
}

.blog .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.blog .carousel-indicators .active {
  background: #707070;
}

.formArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.formArea .iconForm {
  display: -ms-grid;
  display: grid;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.formArea .iconForm h3 {
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
}
/*# sourceMappingURL=estilos.css.map */