<!DOCTYPE html>
<html lang="es">
    <head>
        <!--meta--> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Contactanos, podemos atender tu solicitud para el diseño y desarrollo de tu electrónica">
        <meta name="keywords" content="Contacto, Desarrollo, Direccion, Hardware, Firmware, Ofertas, Servicios">
        <meta name="title" content="ElectronicBrain-Contacto">

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/746a40d06e.js" crossorigin="anonymous"></script>

        <!--WOW-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
        
        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
        <!--<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">-->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

        <!--CSS-->
        <link rel="stylesheet" href="../css/estilos.css">
        
        <!--Title-->
        <title>ElectroniBrain</title>
    </head>
        
    <body>
      <!--header-->
      <div class="fondoBlanco fixed-top">
        <header class="container d-flex justify-content-between">
          <h1>ELECTRONIC BRAIN</h1>
          <!--Barra de navegacion-->
            <nav class="navbar navbar-expand-lg navbar-light  d-none d-sm-block">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto d-flex align-items-center">
                  <li class="nav-item">
                    <a class="nav-link ColorText" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="sobre_nosotros.html">Sobre Nosotros</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="servicios.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nuestros Servicios</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="servicios.html">Servicios</a>
                      <a class="dropdown-item" href="servicios.html#hardwareArea">Diseño Electrónico</a>
                      <a class="dropdown-item" href="servicios.html#firmwareArea">Desarrollo de Firmware</a>
                      <a class="dropdown-item" href="servicios.html#webArea">Desarrollo Web</a>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
            <a href="#" class="contactoBoton align-self-center">Contacto</a>
          <!--Fin Barra de navegacion-->
        </header>
        <!--Barra de navegacion para moviles-->
        <nav class="navbar navbar-expand-lg navbar-light d-block d-sm-none">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link ColorText" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobre_nosotros.html">Sobre Nosotros</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="servicios.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nuestros Servicios</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="servicios.html">Servicios</a>
                  <a class="dropdown-item" href="servicios.html#hardwareArea">Diseño Electrónico</a>
                  <a class="dropdown-item" href="servicios.html#firmwareArea">Desarrollo de Firmware</a>
                  <a class="dropdown-item" href="servicios.html#webArea">Desarrollo Web</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      <!--Fin Barra de navegacion para moviles-->
      </div>
      <!--Fin header-->

      <!--Inicio-->
      <div class="imgBackContacto">
        <div class="container animate__animated animate__zoomIn tituloPrincipal ">
          <h2>Contacto</h2>
          <h3>Disponibles para tu proyecto</h3>
          <h4>Imagina, Sueña, Planea</h4>
          <h4>Nosotros lo hacemos realidad por ti.</h4>
        </div>
      </div>
      <!--Fin Inicio-->    

      <!--Main-->
      <main class="container">
        <div class="tituloMain">
        <h2>FORMULARIO</h2>
        <h3>TE CONTACTAMOS A LA BREVEDAD</h3>
        </div>

        <div class="container row formArea">
          <div class="col-md-4 animate__animated animate__slideInLeft">
            <div class="iconForm">
              <img src="../imagen/Iconos/ubicacion.png" alt="ubicación">
              <h3>Ubicación:<br>Buenos Aires, Argentina</h3>
            </div>
            <div class="iconForm">
              <img src="../imagen/Iconos/email.png" alt="email">
              <h3>Email:<br>info@electrobrain.com</h3>
            </div>
            <div class="iconForm">
              <img src="../imagen/Iconos/telefono.png" alt="telefono">
              <h3>Telófono:<br>+5491135105781</h3>
            </div>
          </div>
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdQGcPd9LyGMvYDudF-HLvOogXnepNj4Ja6Q20oXF_ZR8Ns1g/viewform?usp=sf_link" width="100%" height="1400" frameborder="0" marginheight="0" marginwidth="0" class="col-md-8 animate__animated animate__slideInRight"></iframe>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3290.9933255207998!2d-58.56910768424115!3d-34.42692465567326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca59cbeafa6cf%3A0xb1eb61c8c2be8bc5!2sSol%C3%ADs%201%2C%20B1648BWA%20Tigre%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1597200175741!5m2!1ses!2sar" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        





      </main>
      <!--Fin Main-->

      <!--Footer-->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4">
              <h2>ElectronicBrain</h2>
              <p>Somos un equipo de jóvenes emprendedores con muchas ganas y conocimientos para el desarrollo de la electrónica, servicios tecnológicos y diseño web</p>
            </div>
            <div class="col-12 col-md-4">
              <h2>Secciones</h2>
              <div class="listSecciones">
                <a href="sobre_nosotros.html">Sobre Nosotros</a>
                <a href="servicios.html">Servicios</a>
                <a href="servicios.html#hardwareArea">Diseño Electrónico</a>
                <a href="servicios.html#firmwareArea">Desarrollo de Fimrware</a>
                <a href="servicios.html#webArea">Diseño Web</a>
                <a href="contacto.html">Contacto</a>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <h2>Contactanos</h2>
              <p>contacto@electronibrains.com</p>
              <p>+5491135105781</p>
              <p>Buenos Aires</p>
            </div>
          </div>
        </div>
    </footer>
    <!--Fin Footer-->
    </body>
</html>












