<!DOCTYPE html>
<html lang="es">
  <head>
    <!--meta--> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conoce mas sobre nosotros, Conoce a quienes nos contratan">
    <meta name="keywords" content="PCB, Hardware, Diseño, Servicios, Garantia, Calidad">
    <meta name="title" content="ElectronicBrain-Nosotros">

    <!--Bootstrap y scripts-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/746a40d06e.js" crossorigin="anonymous"></script>

    <!--WOW-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" href="../css/estilos.css">
    
    <!--Title-->
    <title>ElectroniBrain</title>
  </head>
        
  <body>
    <!--header-->
    <div class="fondoBlanco fixed-top">
      <header class="container d-flex justify-content-between">
        <h1>ELECTRONIC BRAIN</h1>
        <!--Barra de navegacion-->
        <nav class="navbar navbar-expand-lg navbar-light d-none d-lg-block">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link ColorText" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobre_nosotros.html">Sobre Nosotros</a>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nuestros Servicios<span class="sr-only">(current)</span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Servicios</a>
                  <a class="dropdown-item" href="#hardwareArea">Diseño Electrónico</a>
                  <a class="dropdown-item" href="#firmwareArea">Desarrollo de Firmware</a>
                  <a class="dropdown-item" href="#webArea">Desarrollo Web</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <a href="contacto.html" class="contactoBoton align-self-center">Contacto</a>
        <!--Fin Barra de navegacion-->
      </header>
      <!--Barra de navegacion para moviles-->
      <nav class="container navbar navbar-expand-lg navbar-light d-block d-lg-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item">
              <a class="nav-link ColorText" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sobre_nosotros.html">Sobre Nosotros</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nuestros Servicios<span class="sr-only">(current)</span></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Servicios</a>
                <a class="dropdown-item" href="#hardwareArea">Diseño Electrónico</a>
                <a class="dropdown-item" href="#firmwareArea">Desarrollo de Firmware</a>
                <a class="dropdown-item" href="#webArea">Desarrollo Web</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!--Barra de navegacion para moviles-->
    </div>
    <!--Fin header-->

    <!--Inicio-->
    <div class="imgBackServicios">
      <div class="container animate__animated animate__zoomIn tituloPrincipal">
        <h2>Servicios</h2>
        <h3>Un Mundo de Soluciones a tu Alcance</h3>
        <h4>Imagina, Sueña, Planea</h4>
        <h4>Nosotros lo hacemos realidad por ti.</h4>
        <a href="contacto.html" class="contactoBotonHero">Contáctanos</a>
      </div>
    </div>
    <!--Fin Inicio-->    

    <!--Main-->
    <main class="container">
      <div class="tituloMain">
        <h2>SERVICIOS</h2>
        <h3>DESARROLLO A TU MEDIDA</h3>
      </div>

      <div class="animate__animated animate__slideInLeft">
        <div id="hardwareArea">
          <h3>Diseño Electrónico/Hardware</h3>
          <img src="../imagen/hardware.jpg" alt="hardware" class="img-fluid rounded-lg">
          <p>Estamos capacitados para desarrollar hardware a partir de cualquier nivel, desde el diseño electrónico hasta el diseño de PCBs óptimos y eficientes, contamos con experiencia en herramientas mundialmente conocidas como Altium Designer e Eagle Cadsoft.<br><br>
            Podemos desarrollar esquemas, diseños de PCBs, integración de placas existentes, y contamos con experiencia en diseños que intengran microprocesadores, comunicación Wifi, Bluetooth, GPRS, LTE, Ethernet, USB, memorias RAM y ROM, I/O analógicas y digitales, y demás periféricos relacionados a sistemas embebidos, contamos con experiencia para el desarrollos de PCB con técnicas de diseño para garantizar la eficiencia del mismo.</p>
          <h3>¿Cómo trabajamos?</h3>
          <p>Podemos iniciar a partir de cualquier etapa, podemos recibir tus ideas y desarrollar desde el principio, un esquemático para realizar un PCB, o mejorar diseños ya realizados, generando nuevas versiones.<br><br>
            Solo debes enviarnos tus datos, darnos un pequeño resumen de lo que necesitas y en la brevedad estaremos contactándote para profundizar sobre el tema y ofrecer la mejor solución para tu proyecto.</p>
        </div>

        <div id="firmwareArea">
          <h3>Desarrollo de Fimrware</h3>
          <img src="../imagen/hardware.jpg" alt="hardware" class="img-fluid rounded-lg">
          <p>Poseemeos experiencia en la programación de microprocesadores y sistemas embebidos, así también como programación para Raspberry, módulos IoT, Arduinos y módulos basados en Arduino. <br><br>
            Tenemos experiencia en desarrollo con MCUs cortex m0/m0+/m3/m4/m7 y microchips pic12/16/24, dsPic, avr, esp32 con el sdk en c/c++, stack tcp/ip, manejo de versiones con git, conexiones seguras por tls, uso de sistemas operativos en tiempo real freeRtos, comandos AT, desarrollos con pantallas touch resistivas.</p>
          <h3>¿Cómo trabajamos?</h3>
          <p>Podemos desarrollar tu firmware con entregas parciales para garantizar el éxito final, con un código ordenado limpio y con todas las indicaciones que necesites para adaptarlo a tu Hardware.<br><br>
            Entra en nuestra sección de contacto, déjanos tus datos y en la brevedad nos comunicaremos para profundizar sobre tu proyecto.</p>
        </div>

        <div id="webArea">
          <h3>Diseño Web</h3>
          <img src="../imagen/web.jpg" alt="hardware"  class="img-fluid rounded-lg">
          <p>Contamos con conocimientos de las tecnologías mas actuales para desarrollar la web que necesites, manejamos lenguajes y herramientas como HTML5, CCS3, JavaScript, NodeJS, ReactJS, Bootstrap, Wordpress, para que tu web sea actual, innovadora y responsiva.<br><br>
            Si lo deseas, podemos encargarnos de generar el contenido que tu web necesita, de manera fresca y útil para tus usuarios, también contamos con la experiencia para generar versiones en Inglés e Italiano de tu web.</p>
          <h3>¿Cómo trabajamos?</h3>
          <p>Podemos desarrollar tu web en base a tus requerimientos, como número de páginas, contenido a mostrar, imágenes y efectos, o bien podemos generar una nueva versión de tu web existente.<br><br>
            Entra en nuestra sección de contacto, déjanos tus datos y en la brevedad nos comunicaremos para obtener los detalles sobre tus requerimientos para tu web.</p>
        </div>
      </div>
    </main>
    <!--Fin Main-->  

    <div class="preFoot">
      <div class="container">
        <div class="tituloMain">
          <h2>FEEDBACK</h2>
          <h3>¿POR QUÉ NOS ELIGEN?</h3>
        </div>
        <div class="row blog">
          <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#blogCarousel" data-slide-to="1"></li>
              </ol>

              <!-- Carousel testimonios -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row ">
                    <div class="col-sm-6 col-lg-3">
                      <div class="boxTestimonios">
                        <h3>Diego Esteban Dagatti / Particular</h3>
                        <h4>Argentina</h4>
                        <p>"Muy atentos y responsables"</p>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="boxTestimonios">
                        <h3>Julio Robles / Particular</h3>
                        <h4>España</h4>
                        <p>"Como siempre, satisfactorio"</p>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="boxTestimonios">
                        <h3>wATAw / vi4crane</h3>
                        <h4>España</h4>
                        <p>"Recomendado. Éxito en diseño de sistema de placas para control de gruas mecánicas"</p>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="boxTestimonios">
                        <h3>Edwin Vallarino / Vallarino Panama</h3>
                        <h4>Panamá</h4>
                        <p>"Totalmente complacido, tiempo de entrega y comunicación, simplemente fantástico"</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="row">
                    <div class="col-sm-6 col-lg-3">
                      <div class="boxTestimonios">
                        <h3>Alvaro Acedo / IC MALAGA,S.L.</h3>
                        <h4>España</h4>
                        <p>"Muy Profesionales. Plantean soluciones, son comunicativos y han resuelto el hardware correctamente. Fiable y recomendable"</p>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="boxTestimonios">
                        <h3>José Mazzei / Particular</h3>
                        <h4>Argentina</h4>
                        <p>"Muy buenos profesionales"</p>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="boxTestimonios">
                        <h3>EGEON Technology S.L.</h3>
                        <h4>España</h4>
                        <p>"Buenos profesionales, muy dispuestos a cumplir objetivos, requisitos y plazos del proyecto/cliente"</p>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="boxTestimonios">
                        <h3>Carlos Camacho / Particular</h3>
                        <h4>Venezuela</h4>
                        <p>"Sin ningún problema, seguiremos trabajando en las próximas fases"</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Fin Carousel testimonios -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Fin Main-->

    <!--Footer-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">
            <h2>ElectronicBrain</h2>
            <p>Somos un equipo de jóvenes emprendedores con aspiraciones y conocimientos para el desarrollo de la electrónica, servicios tecnológicos y diseño web</p>
          </div>
          <div class="col-12 col-md-4">
            <h2>Secciones</h2>
            <div class="listSecciones">
              <a href="sobre_nosotros.html">Sobre Nosotros</a>
              <a href="servicios.html">Servicios</a>
              <a href="servicios.html#hardwareArea">Diseño Electrónico</a>
              <a href="servicios.html#firmwareArea">Desarrollo de Fimrware</a>
              <a href="servicios.html#webArea">Diseño Web</a>
              <a href="contacto.html">Contacto</a>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <h2>Contáctanos</h2>
            <p>info@electronicbrain.com.ar</p>
            <p>+5491135105781</p>
            <p>Buenos Aires</p>
          </div>
        </div>
      </div>
    </footer>
    <!--Fin Footer-->
  </body>
</html>












