<!DOCTYPE html>
<html lang="es">
  <head>
    <!--meta--> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conoce mas sobre nosotros, Conoce a quienes nos contratan">
    <meta name="keywords" content="PCB, Hardware, Diseño, Servicios, Garantia, Calidad">
    <meta name="title" content="ElectronicBrain-Nosotros">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/746a40d06e.js" crossorigin="anonymous"></script>

    <!--WOW-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" href="../css/estilos.css">
    
    <!--Title-->
    <title>ElectroniBrain</title>
  </head>
        
  <body>
    <!--header-->
    <div class="fondoBlanco fixed-top">
      <header class="container d-flex justify-content-between">
        <h1>ELECTRONIC BRAIN</h1>
        <!--Barra de navegacion-->
        <nav class="navbar navbar-expand-lg navbar-light d-none d-lg-block">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link ColorText" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Sobre Nosotros<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="servicios.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nuestros Servicios</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="servicios.html">Servicios</a>
                  <a class="dropdown-item" href="servicios.html#hardwareArea">Diseño Electrónico</a>
                  <a class="dropdown-item" href="servicios.html#firmwareArea">Desarrollo de Firmware</a>
                  <a class="dropdown-item" href="servicios.html#webArea">Desarrollo Web</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <a href="contacto.html" class="contactoBoton align-self-center">Contacto</a>
        <!--Fin Barra de navegacion-->
      </header>
        <!--Barra de navegacion para moviles-->
      <nav class="container navbar navbar-expand-lg navbar-light d-block d-lg-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item">
              <a class="nav-link ColorText" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Sobre Nosotros<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="servicios.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nuestros Servicios</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="servicios.html">Servicios</a>
                <a class="dropdown-item" href="servicios.html#hardwareArea">Diseño Electrónico</a>
                <a class="dropdown-item" href="servicios.html#firmwareArea">Desarrollo de Firmware</a>
                <a class="dropdown-item" href="servicios.html#webArea">Desarrollo Web</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!--Barra de navegacion para moviles-->
    </div>
    <!--Fin header-->

    <!--Inicio-->
    <div class="imgBackNosotros">
      <div class="container animate__animated animate__zoomIn tituloPrincipal ">
        <h2>Sobre Nosotros</h2>
        <h3>Programados para tus requerimientos</h3>
        <h4>Imagina, Sueña, Planea</h4>
        <h4>Nosotros lo hacemos realidad por ti.</h4>
        <a href="contacto.html" class="contactoBotonHero">Contáctanos</a>
      </div>
    </div>
      <!--Fin Inicio-->    

      <!--Main-->
    <main class="container">
      <div class="tituloMain">
      <h2>¿QUIENES SOMOS?</h2>
      <h3>CONÓCENOS</h3>
      </div>

      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-sm-12 col-lg-4 biggerBlock animate__animated animate__slideInLeft">
            <div class="conocenosAreaBlue">
              <h3>Sobre Nosotros</h3>
              <p>En momentos complejos como estos, el mundo necesita empresas con innovación, desarrollos tecnológicos, mostrarse al mundo a través de la internet y abrir una ventana al exterior hacia el progreso.</p>
              <p>Por ello, nace <strong>ELECTRONICBRAIN</strong> en la mente de jóvenes emprededores, optimistas frente lo que depare el futuro, con ganas de ayudar a estudiantes, profesionales y empresas ofreciendo las mejores soluciones tecnológicas y la posibilidad de mostrar sus servicios y productos mediante páginas webs actualizadas, innovadoras y atractivas.</p>    
              <p>En <strong>ELECTRONICBRAIN</strong> econtrarás, un cerebro electrónico, capacitado para tus desarrollos.</p>
              <p class="textoInicioCentrado">Imagina, Sueña, Planea,<br><strong>ELECTRONICBRAIN</strong><br>lo hará realidad por ti.</p>
            </div>
          </div>

          <div class="col-sm-12 col-lg-4 smallerBlock animate__animated animate__zoomIn">
            <div class="conocenosArea">
              <img src="../imagen/Iconos/mision.jpg" alt="Misión">
              <h3>Misión</h3>
              <p>Contribuir al desarrollo de nuevos productos, basados en electrónica y programación, a niveles estudiantiles y empresariales. Facilitar a las empresas y personas mostrarse al mundo a través de una web innovadora y eficiente.</p>
              <p>Garantizar el avance tecnológico de todos los sectores que soliciten nuestros servicios de la mano con los clientes, hacia el éxito de los productos y soluciones desarrollados.</p>
            </div>
          </div>

          <div class="col-sm-12 col-lg-4 smallerBlock animate__animated animate__zoomIn">
            <div class="conocenosArea">
              <img src="../imagen/Iconos/vision.jpg" alt="Visión">
              <h3>Visión</h3>
              <p>Convertirnos en una empresa líder, trabajando con y no solo para nuestros clientes, ofrecer excelencia en nuestros servicios y originar fuentes de empleo para personas interesadas en el mundo de la electrónica y la programación.</p>
              <p>Buscamos generar un impacto positivo en todos los sectores alcanzados por la electrónica, garantizando el progreso tecnológico, siempre generando satisfación en nuestros clientes.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="tituloMain">
        <h2>ELECTRONICBRAIN</h2>
        <h3>¿POR QUÉ ELEGIRNOS?</h3>
      </div>

      <div class="row iconElec">
        <p class="col-sm-12 col-lg-6">En <strong>ELECTRONICBRAIN</strong>, contamos con conocimientos y herramientas actualizadas, trabajamos con las últimas tecnologías del mercado para garantizar un servicio eficiente, atractivo e innovador.</p>
        <img class="col-sm-12 col-lg-6 img-fluid" src="../imagen/sobrenosotros.jpg" alt="Visión">
      </div>

      <div class="tituloMain">
        <h2>PERSONAS</h2>
        <h3>NUESTRO EQUIPO</h3>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-4 teamArea">
            <img src="../imagen/ale.jpg" alt="Alejandro Fernandez" class="img-fluid rounded-lg">
            <h4>Alejandro Fernandez</h4>
            <p>Ing. Electrónico, CEO de ElectronicBrain, especialista en hardware, desarrrollador de sistemas embebidos, programador web.</p>
            <a href="https://www.linkedin.com/in/alejandro-fernandez-755324a9/" target="_blank" class="btn btn-social-icon  btn-linkedin ">
              <span class = "fa fa-linkedin"> </span>
            </a>
          </div>
          <div class="col-sm-12 col-lg-4 teamArea">
            <img src="../imagen/jorge.jpg" alt="Jorge Diaz" class="img-fluid rounded-lg">
            <h4>Jorge Díaz</h4>
            <p>Ing. Eléctrico, especialista en firmware, desarrrollador de sistemas embebidos, experto en Wordpress, programador web.</p>
            <a href="https://www.linkedin.com/in/jorgeluisdiazarias/" target="_blank" class="btn btn-social-icon  btn-linkedin ">
                <span class = "fa fa-linkedin"> </span>
            </a>
          </div>
          <div class="col-sm-12 col-lg-4 teamArea">
            <img src="../imagen/begg.jpg" alt="Beggxis Villa" class="img-fluid rounded-lg">
            <h4>Beggxis Villa</h4>
            <p>Lic. en Traducción, generadora de contenidos, redactora y traductora profesional.</p>
            <a href="https://www.linkedin.com/in/beggxisvilla/" target="_blank" class="btn btn-social-icon  btn-linkedin ">
              <span class = "fa fa-linkedin"> </span>
            </a>
          </div>
        </div>
      </div>
    </main>
    <!--Fin Main-->

    <!--Footer-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">
            <h2>ElectronicBrain</h2>
            <p>Somos un equipo de jóvenes emprendedores con aspiraciones y conocimientos para el desarrollo de la electrónica, servicios tecnológicos y diseño web</p>
          </div>
          <div class="col-12 col-md-4">
            <h2>Secciones</h2>
            <div class="listSecciones">
              <a href="sobre_nosotros.html">Sobre Nosotros</a>
              <a href="servicios.html">Servicios</a>
              <a href="servicios.html#hardwareArea">Diseño Electrónico</a>
              <a href="servicios.html#firmwareArea">Desarrollo de Fimrware</a>
              <a href="servicios.html#webArea">Diseño Web</a>
              <a href="contacto.html">Contacto</a>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <h2>Contáctanos</h2>
            <p>info@electronicbrain.com.ar</p>
            <p>+5491135105781</p>
            <p>Buenos Aires</p>
          </div>
        </div>
      </div>
    </footer>
    <!--Fin Footer-->
  </body>
</html>












